#home {
    text-align: center;
    background: linear-gradient(#ffff00 30%, #f57c00 70%);
    opacity: o.9;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 100%;
    display: table;

}

body {
    text-align: center;
    margin-top: 500px;
}

div {
    height: 10px;
    width: 100px;
    background-color: #000;
    margin: 10px auto;
}

img {
    border-radius: 60%;
    height:200px;
    width: 250px;
    margin-left: 50px;
}

p {
    font-size: 20px;
    font-family: Roboto;
    color: lawngreen;
    max-width: 650px;
    font-size: 17px;
    line-height: 1.5;
    margin: 10px auto;
}

#ola {

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    font-family: 'Cinzel Decorative', cursive;
}

#about_my_hobby {
    background: linear-gradient(lightblue 30%, purple 70%);
    padding: 25px;
    text-align: center;
}

#Sad {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    font-family: 'Cinzel Decorative', cursive;
}
.menu{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.link{
 padding: 8px 10px;
    list-style: none;
    float: left;
    font-size: 20px;
    font-family: cursive;
}
a{
    text-decoration: none;
     color:aqua;
}
.link:hover{
    background-color: cadetblue;
}
